.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
}
.botao {
  background-color: var(--cor-2);
  color: var(--cor-1);
  padding: 1rem 2rem;
  justify-self: start;
}
.botao:hover {
  background-color: var(--cor-3);
  color: var(--cor-2);
}
@media (max-width: 600px) {
  .container {
    padding: 10px 0;
  }
}
.grid {
  display: grid;
}
