dt {
  background-color: var(--cor-4);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
dt:hover {
  cursor: pointer;
}
.dd {
  display: block;
  opacity: 0;
  margin-left: 2.5rem;
}
.displayblock {
  display: block;
  transform: translateY(1rem);
  transition: 1s;
  opacity: 1;
}
.segundodt {
  margin-top: 2rem;
}
.segundodd {
  display: block;
  opacity: 0;
  margin-left: 2.5rem;
  margin-bottom: 5rem;
}
.segundodd.displayblockdois {
  display: block;
  transform: translateY(0.7rem);
  transition: 1s;
  opacity: 1;
}
.dt::after,
.segundodt::after {
  content: "";
  display: inline-block;
  width: 3.125rem;
  height: 0.9375rem;
  background-image: url("./seta-abrir.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
}
.tabela.ativaTabela .dt::after,
.tabela.ativaTabeladois .segundodt::after {
  transform: rotate(180deg);
}
#perguntas span {
  padding: 0 1.25rem;
  margin-bottom: 1rem;
}
.tabela {
  margin-top: 1.25rem;
}
